.home-container {
    text-align: center;
    padding: 20px;
    background-image: url('./src/assets/tea-home.png');
    background-size: cover; 
    background-repeat: no-repeat; 
    background-position: center; 
    color: #fff; 
    height: 100vh;
    display: flex;
    align-items: center;
}

.home-container-text {
    color: #333;
    max-width: 500px;
    text-align: left;
    font-family: 'Caveat', cursive;
    margin-left: 50px;
}


@media screen and (max-width: 1000px) {
    .home-container-text {
        max-width: 400px;
        margin-left: 20px;
    }
}
@media screen and (max-width: 768px) {
    .home-container-text {
       font-size: large;
       max-width: 200px;
    }
}