.header {
    background-color: #fff2b3;
    color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.5);
    z-index: 1;
  }
  
  .nav {
    display: flex;
    flex-wrap: wrap;
  }
  
  .nav-link {
    color: black;
    text-decoration: none;
    display: flex;
    align-items: right;
    margin-right: 20px;
    align-items: center;
    padding: 5px;
    font-weight: 600;
  }
  
  .nav-link-selected {
    background-color: rgba(1,1,1,0.2);
    border-radius: 15px;
    color: white;
    text-decoration: none;
    display: flex;
    align-items: center;
    margin-right: 20px;
    padding: 5px;
    font-weight: 600;
  }
  
  .nav-dropdown {
    position: relative;
  }
  
  .nav-dropdown .dropdown-content {
    display: none;
    position: absolute;
    background-color: #fff2b3;
    min-width: 180px;
    z-index: 1;
  }
  
  .nav-dropdown:hover .dropdown-content {
    display: block;
  }
  
  .nav-link:hover,
  .nav-link-selected:hover {
    background-color: rgba(1,1,1,0.3);
    border-radius: 15px;
    color: white;
  }
  
  .dropdown-link {
    color: black;
    text-decoration: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px;
  }
  
  .dropdown-link:hover {
    background-color: rgba(1,1,1,0.3);
    color: white;
  }
  
  .link-icon {
    margin-right: 10px;
    font-size: 24px;
  }
  
  .link-text {
    margin-left: 10px;
  }

  .logo {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(1,1,1,0.1);
    padding: 5px;
    border-radius: 10%;
  }

  .logo-text{
    font-family: 'Pacifico', cursive;
    color: #333;
    margin: 0;
  }

  .logo>img{
    width: 40px;
  }
  
  .logo-icon {
    font-size: 36px; 
  }
  
  .sub-sub-dropdown {
    position: relative;
  }
  
  .sub-sub-menu {
    display: none;
    position: absolute;
    background-color: rgba(250,230,133, 0.8);
    min-width: 180px;
    z-index: 2;
  }
  
  .sub-sub-dropdown:hover .sub-sub-menu {
    display: block;
  }
  
  .sub-sub-link {
    color: black;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
  }
  
  .sub-sub-link:hover {
    background-color: rgba(1, 1, 1, 0.3);
    color: white;
  }
  .search-area {
    text-align: right;
    margin-right: 20px;
    display: flex;
    align-items: center;
}

.search-input {
    width: 150px; 
    margin-right: 10px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.search-input:focus {
    outline: none;
    border-color: #007bff;
}

.search-button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.search-button:hover {
    background-color: #0056b3;
}

  @media screen and (max-width: 768px) {
    .nav-link .link-text {
      display: none;
      margin:0;
    }

    .nav-link-selected .link-text {
      display: none;
      margin:0;
    }

    .logo-text  {
      display: none;
    }

    .nav-link .link-icon {
      margin-right: 0;
    }
  
    .nav-link, .nav-link-selected {
      margin-right: 0;
      margin-right: 5px;
    }
  
    .nav-dropdown {
      display: block;
    }
  
    .dropdown-content {
      position: static;
      display: none;
      background-color: #fff2b3;
    }
  
    .nav-dropdown:hover .dropdown-content {
      display: block;
    }
  
    .nav-link:hover {
      text-decoration: none;
    }

    .search-area {
      margin-right: 0;
    }

    .search-input {
        width: 100%; 
        margin-right: 0;
    }

    .search-button {
        margin-top: 10px;
    }
  }